<a href="https://colab.research.google.com/github/Khojasteh-hb/subtype_prediction/blob/main/00_data_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
from imutils import paths

rootdir = '/content/drive/MyDrive/coad_tiles'

image_paths = list(paths.list_images(rootdir))
print(len(image_paths))

160173

In [ ]:
img_path=[]
for i in range(len(image_paths)):
  whole_path = image_paths[i]
  print(whole_path)
  sub_path = whole_path.replace('/content/drive/MyDrive/coad_tiles/' , '')
  img_path.append(sub_path)

len(sub_path)

In [ ]:
len(img_path) # 160173

160173

In [ ]:
import pandas as pd
df_image_path = pd.DataFrame(img_path)
df_image_path.columns = ['image_path']
print(df_image_path.head())

In [ ]:
import os
os.chdir('/content/drive/MyDrive')
directory = os.getcwd()
print("The Current working directory is :", directory)

In [ ]:
import csv
import pandas as pd
# reading csv file
df_subclass = pd.read_csv("COAD_CMS_label.csv")
df_subclass.head(5)

                                         folder_name CMS_Subtype
0  TCGA-A6-2683-01Z-00-DX1.0dfc5d0a-68f4-45e1-a87...        CMS2
1  TCGA-F4-6459-01Z-00-DX1.80a78213-1137-4521-9d6...        CMS4
2  TCGA-AY-4070-01Z-00-DX1.dd650ac6-8480-4fd8-85b...        CMS4
3  TCGA-A6-6653-01Z-00-DX1.e130666d-2681-4382-9e7...        CMS1
4  TCGA-DM-A1D8-01Z-00-DX1.2DD544F5-D72F-4840-B2D...        CMS2

In [ ]:
labeled_imgs=[]
subclass_list=[]

for i in range(len(df_image_path)):
  for j in range(len(df_subclass)):
    if df_subclass.loc[j, 'folder_name'] in df_image_path.loc[i, 'image_path']:
      labeled_imgs.append(df_image_path.loc[i, 'image_path'])
      subclass_list.append(df_subclass.loc[j, 'CMS_Subtype'])

len(labeled_imgs) # 126747
len(subclass_list) # 126747

126747

In [ ]:
import pandas as pd
df_labeled_imgs = pd.DataFrame(labeled_imgs)
df_labeled_imgs.columns = ['image_path']
print(df_labeled_imgs.head())

                                          image_path
0  TCGA-A6-2671-01Z-00-DX1.13d1a0d9-78cd-4cfc-b67...
1  TCGA-A6-2671-01Z-00-DX1.13d1a0d9-78cd-4cfc-b67...
2  TCGA-A6-2671-01Z-00-DX1.13d1a0d9-78cd-4cfc-b67...
3  TCGA-A6-2671-01Z-00-DX1.13d1a0d9-78cd-4cfc-b67...
4  TCGA-A6-2671-01Z-00-DX1.13d1a0d9-78cd-4cfc-b67...

In [ ]:
import pandas as pd
df_subclass = pd.DataFrame(subclass_list)
df_subclass.columns = ['CMS_Subtype']
print(df_subclass.head())

  CMS_Subtype
0        CMS4
1        CMS4
2        CMS4
3        CMS4
4        CMS4

In [ ]:
df_colorectal = pd.concat([df_labeled_imgs, df_subclass], axis=1, sort=False)
df_colorectal.head(5)

#df_colorectal.to_csv('df_colorectal.csv', index=True)

                                          image_path CMS_Subtype
0  TCGA-A6-2671-01Z-00-DX1.13d1a0d9-78cd-4cfc-b67...        CMS4
1  TCGA-A6-2671-01Z-00-DX1.13d1a0d9-78cd-4cfc-b67...        CMS4
2  TCGA-A6-2671-01Z-00-DX1.13d1a0d9-78cd-4cfc-b67...        CMS4
3  TCGA-A6-2671-01Z-00-DX1.13d1a0d9-78cd-4cfc-b67...        CMS4
4  TCGA-A6-2671-01Z-00-DX1.13d1a0d9-78cd-4cfc-b67...        CMS4

In [ ]:
len(df_colorectal) # 126747

126747